name: Windows

on:
  workflow_dispatch:
    inputs:
      node-version:
        description: 'Node.js version to run tests'
        required: true
        default: 25
        type: number

jobs:
  tests:
    name: Node.js ${{inputs.node-version}} (special test)
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: actions/setup-node@v4
        with:
          node-version: ${{inputs.node-version}}
      - run: |
          npm ci
          npm run build --if-present
          npm test
          node tests/test-sample.js
